html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	height: 100%;
}

html, body {
  background-image: url('images/crossword.png');
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Dosis', sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    height: 150px;
    padding: 20px;
}

.App-intro {
    font-size: large;
}

/*category layout*/

.divvy {
    display: inline-block;
    width: 25%;
    margin: 1.5em;
    border: none;
    border-radius: 2px;
    text-align: center;
    padding-top: .7em;
    padding-bottom: .7em;
    background-color: #80D8FF;
    color: rgb(74, 74, 74);
    transition: all .5s ease-in;
    font-size: 2.5vmin;
    height: 50px;
}

.divvy:hover {
    background-color: #40C4FF;
    color: #fff;
    height: 50px;
}

.catToggle {
    display: inline-block;
    width: 25%;
    margin: 1.5em;
    border: none;
    border-radius: 2px;
    text-align: center;
    padding-top: .7em;
    padding-bottom: .7em;
		background-color: #3281a4;
    color: rgb(74, 74, 74);
    transition: all .5s ease-in;
    font-size: 2.5vmin;
    color: #eeebeb;
    text-transform: uppercase;
    /*letter-spacing: 5px;*/
    height: 50px;
}


.fc-ltr .fc-list-heading-main {
   text-align: center;
   font-size: 22px;
}

/*category feed */

/*page headers*/
.pageheader {
  font-family: 'Varela Round', serif;
    font-size: 14vmin;
    color: rgb(74, 74, 74);
    letter-spacing: 5px;
}

/*LOGO*/

.logoScale {
    margin-top: 50px;
    width: 50%;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
}

.logoScaleSmall {
    margin: 5px 5px;
    /*float: left;*/
    margin-right: 700px;
    width: 15%;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: .5s;
}


.fc-center h2 {
   font-size: 8vmin;

}

/*SLOGAN*/

.slogan {
  font-size: 4.5vmin;
    color: rgb(74, 74, 74);
    margin-top: -75px;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: .7s;
}

.catSlogan{
  font-size: 3.5vmin;
  margin-top: 5px;
}

/*category Items*/

.categoryItems {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: .7s;
}


/*FACEBOOK DIV*/

.fbLogin {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
}


/*FACEBOOK BTN*/

.kep-login-facebook.metro {
    margin-top: -55px;
    border: none;
    background-color: rgba(81, 146, 181, .8);
    transition: all .5s ease-in;
}

.kep-login-facebook.metro:hover {
    color: rgb(74, 74, 74);
    background-color: rgba(76, 105, 186, 1);
}
/*BACKGROUND HOME*/
.bg {
  -moz-animation: bg 300s linear infinite;
  -webkit-animation: bg 300s linear infinite;
  -ms-animation: bg 300s linear infinite;
  animation: bg 300s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background: rgba(128, 216, 255, 0.5) url("http://www.xpertz.in/images/background-one.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: .2;
  position: fixed;
  top: 0;
}

@-moz-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bg {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

.bg {
  background-size: 2250px auto;
  width: 6750px;
}

/*BACKGROUND CATEGORY*/
.bgCat {
  -moz-animation: bgCat 150s linear infinite;
  -webkit-animation: bgCat 150s linear infinite;
  -ms-animation: bgCat 150s linear infinite;
  animation: bgCat 150s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  background: #348cb2 url("https://www.mountainproject.com/blog/wp-content/uploads/sites/2/2017/03/Noble_Jay_Smith_Voodoo_Child_BW-114.jpg") bottom left;
  background-repeat: repeat-x;
  height: 100%;
  left: 0;
  opacity: .2;
  position: fixed;
  top: 0;
}

@-moz-keyframes bgCat {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-webkit-keyframes bgCat {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@-ms-keyframes bgCat {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

@keyframes bgCat {
  0% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  100% {
    -moz-transform: translate3d(-2250px,0,0);
    -webkit-transform: translate3d(-2250px,0,0);
    -ms-transform: translate3d(-2250px,0,0);
    transform: translate3d(-2250px,0,0);
  }
}

.bgCat {
  background-size: 2250px auto;
  width: 6750px;
}

/*FOOTER*/

footer {
    margin-top: 170px;
}

/*CALENDAR*/

.fc-unthemed td.fc-today{
  background-color: rgba(81, 146, 181, .2);
}

.containerCal{
  font-family: 'Varela Round', serif;
}

/*drop down menu*/
.glyphicon{
  font-size: 50px;
  cursor: pointer;
}

.dropdown-menu{
  background-color: rgba(81, 146, 181, .95);
  font-size: 3vmin;
  border: none;
  float: right;
}

.dropdown-menu:hover{
  color: #fff;
}
.photorow{
  text-align: center;
}

.profilePhoto{
  margin-top: 50px;
  height: 400px;
  width: 400px;
}


i{
  margin: 5px 5px;
  cursor: pointer;
  transition: all 1s ease;
}

i:hover{
  color: #40C4FF;
}


.navCatRight, .navCatLeft{
  position: relative;
  color: #80D8FF;
  cursor: pointer;
  z-index: 999;
  transition: all 1s ease;
}

.navCatRight{
  float: right;
}

.navCatLeft, .glyphicon-align-justify{
  float: left;
  color: #80D8FF;
}

.navCatRight:hover, .navCatLeft:hover{
  text-decoration: none;
  color: #40C4FF;
}

/*CARD FOR ABOUT US*/
.top-img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.top-img img{
  border-radius: 5px;
  width: 100%;
  height: 460px;
}

.panel{
  padding: 0;
  height: 630px;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

/*CARD FOR ABOUT US*/
.top-img img{
  border-radius: 5px;
  width: 100%;
  height: 460px;
}

.panel{
  padding: 0;
  height: 750px;
  position: relative;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

/*CARDS FOR FEED*/
.card {
    background-color: rgb(241, 241, 241);
    font-size: 1em;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: scroll;
    height: 500px;
    margin: 10px 10px;
}

.card button{
	font-weight: bold;
	height: 30px;
	width: 140px;
	margin-bottom: 30px;
	margin-top: -10px;
	margin: 0px 5px 15px 5px;
	background-color: rgba(255, 255, 255, 0);
	color: #40C4FF;
	border: none;
	transition: all 1s ease;
}

.card button:hover{
	background-color: #40C4FF;
	color: #fff;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 200px;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
    overflow: scroll;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: scroll;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 0;
    /*border: 1px solid #fff;*/
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

/*USER PRO*/

.userproCon{
	width: 40%;
}

/*MEDIA QUERYS*/


/*IPHONE 6+*/


/* Portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .logoScale {
        margin-top: 70px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 70px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
				line-height: 40px;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
        font-size: 2vmin;
    }
    .catToggle{
      line-height: 40px;
      text-align: center;
      font-size: 2vmin;
      /*letter-spacing: 2.2px;*/
      /*font-weight: bold;*/
    }
    .col-xs-6 {
      width: 100%
    }
    .col-xs-6 {
      width: 100%
    }
		.fa-arrow-circle, .glyphicon{
			font-size: 55px;
		}
}


/*IPHONE 6*/


/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .logoScale {
        margin-top: 70px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 70px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
        font-size: 2vmin;
				line-height: 40px;

    }
    .catToggle{
      line-height: 40px;
      text-align: center;
      font-size: 2vmin;
      /*letter-spacing: 2.2px;*/
      /*font-weight: bold;*/
    }
    .col-xs-6 {
      width: 100%
    }
		.fa-arrow-circle, .glyphicon{
			font-size: 55px;
		}

}


/*IPHONE 5 AND 5S*/


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .logoScale {
        margin-top: 70px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 70px;
    }
    footer {
        margin-top: 100px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
        font-size: 2vmin;
				line-height: 40px;

    }
    .catToggle{
      line-height: 40px;
      text-align: center;
      font-size: 2vmin;
      /*letter-spacing: .5px;*/
      /*font-weight: bold;*/
    }
    .col-xs-6 {
      width: 100%
    }
		.fa-arrow-circle, .glyphicon{
			font-size: 55px;
		}

}


/*IPHONE 4 AND 4S*/


/* Portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .logoScale {
        margin-top: 30px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .fbLogin {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 60px;
    }
    footer {
        margin-top: 110px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
				line-height: 40px;
        font-size: 2vmin;
    }
    .catToggle{
      line-height: 40px;
      text-align: center;
      font-size: 2vmin;
      /*letter-spacing: 1px;*/
      /*font-weight: bold;*/
    }
    .col-xs-6 {
      width: 100%
    }
	.fa-arrow-circle{
		font-size: 55px;
	}

}


/*IPAD MINI*/


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .logoScale {
        margin-top: 100px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 70px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
        height: 50px;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
        font-size: 2.8vmin;
        height: 50px;
				line-height: 40px;

      }
      .catToggle{
        line-height: 40px;
        text-align: center;
        font-size: 2.8vmin;
        /*letter-spacing: 2.2px;*/
        /*font-weight: bold;*/
    }
    .col-xs-6 {
      width: 100%
    }
}


/*IPAD 1 AND 2*/


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .logoScale {
        margin-top: 70px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 70px;
    }
    footer {
        margin-top: 70px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
        height: 50px;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
        font-size: 2.8vmin;
        height: 50px;
				line-height: 40px;

      }
    .catToggle{
      line-height: 40px;
      text-align: center;
      font-size: 2.8vmin;
      /*letter-spacing: 2.2px;*/
      /*font-weight: bold;*/
  }
}


/*IPAD 3 AND 4*/


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .logoScale {
        margin-top: 150px;
        width: 95%;
    }
    .slogan {
        margin-top: -50px;
    }
    .kep-login-facebook.metro {
        margin-top: -75px;
        width: 80%;
        height: 70px;
    }
    footer {
        margin-top: 370px;
    }
    .divvy {
        margin-top: 10px;
        width: 25%;
        height: 50px;
        /*margin: 1.1em;*/
        /*padding-top: 2em;*/
        /*padding-bottom: 2em;*/
        background-color: #80D8FF;
        color: rgb(74, 74, 74);
        transition: all .5s ease-in;
        font-size: 2.8vmin;
        height: 50px;
				line-height: 40px;

      }

    .catToggle{
      line-height: 20px;
      text-align: center;
      font-size: 2.8vmin;
      /*letter-spacing: 2.2px;*/
      /*font-weight: bold;*/
  }
}
