/*** MATERIALIZE STICKY FOOTER ***/


/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e7d3b3;
}

main {
    flex: 1 0 auto;
}*/


/* END FOOTER */


/*.active {
    color: #444453;
}

a {
  color: #88876a;
}

.calendarTitle {
  color: #444453;
}

.rc-calendar:focus {
  outline: none;
}

.rc-calendar-date,
.rc-calendar-column-header-inner {
  color: #444453;
}

.rc-calendar-selected-day {
    border-radius: 50px;
    border: 2px solid #444453;
}

.rc-calendar-input {
    text-align: center;
    font-weight: bold;
}

.input-field label {
  font-size: .75rem;
}

.main-nav li {
  display: inline-block;
  padding: 1%;

}

.buttons,
.buttons:hover {
  background-color: #6b7890;
}

.navbar-color {
  background-color: #444453
  !important;
}

.card .card-content {
  background-color: #868C69;;
}*/
